.input__common {
  width: 90%;
  padding: 0.5rem 1rem;
  border: 0;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 8px 0 rgba(31, 38, 135, 0.12);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 0.5rem;
  border-bottom: 1.5px solid #634eeb;
  margin: 1rem 0;
  outline: none;
  font-size: 1.5rem;
  color: #4c3abd;
  text-align: center;
}

.input__common::placeholder {
  color: #634eeb;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 786px) {
  .input__common {
    padding: 0.5rem 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
